 body{

   background: linear-gradient(135deg, #ff87a7, #87cbff, #cf47ab);
   background-size: 500% 500%;
   color: rgb(96, 43, 146);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   transition: background 0.3s, color 0.3s;
   padding: 20px;
    animation: gradientMove 12s ease infinite;
    }

    @keyframes gradientMove {

0%{ 
   
   background-position: 0% 50%;}
    
50%{
      background-position: 100% 50%;}

100%{
      background-position: 0% 50%;}


  }
  

body::before{

content: '';
position: absolute;
inset: 0;
background: linear-gradient(135deg, rgb(52, 0, 74), #1c3e0e, rgb(100, 18, 31));
opacity: 0;
transition: opacity 12s ease;
z-index: -1;
background-size: 800% 800%;

}


 @keyframes gradientMove {

0%{ 
   
   background-position: 0% 50%;}
    
50%{
      background-position: 100% 50%;}

100%{
      background-position: 0% 50%;}


  }
  
body.dark::before{

opacity: 1;

}


body.dark-mode{

    background: linear-gradient(135deg, #005130 , #390054, rgb(82, 24, 54));

    color: #4872bb;
    background-size: 500% 500%;
    animation: gradientMove 12s ease infinite;
    }
 @keyframes gradientMove {

0%{ 
   
   background-position: 0% 50%;}
    
50%{
      background-position: 100% 50%;}

100%{
      background-position: 0% 50%;}


  }


    button {
      padding: 10px 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      background: #000000;
      color: rgb(140, 47, 211);
    }

    body.dark-mode button {
      background: #8958c5;
      color: #111;
    
    }


    h3{

text-align: left;
margin-right: 40px;

    }

#toggleBtn{

background: transparent;
border: none;
cursor: pointer;
height: 100px;
padding: 0;
width: 100px;



    }

 #toggleIcon:hover {
  transform: scale(1.15) rotate(10deg);
}

#toggleIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

 
        